[submodule "backend"]
	path = backend
	url = https://github.com/pplmo/blog-backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/pplmo/blog-frontend.git
	branch = main
[submodule "database"]
	path = database
	url = https://github.com/pplmo/blog-db-created-by-jpa.git
	branch = main
